# Protocol Config
NEXT_PUBLIC_CHAIN_KEY="amoy"

# IPFS Storage
PINATA_JWT="your_pinata_jwt_here"

# Security Proxy Keys
# (Must match each other to authorize IPFS uploads)
NEXT_PUBLIC_INTERNAL_API_KEY="trustify_production_harden_2024_secret_key"
TRUSTIFY_INTERNAL_SECRET="trustify_production_harden_2024_secret_key"

# UI Settings
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=""
