# --- Blockchain Settings ---
NEXT_PUBLIC_CHAIN_KEY="amoy" # "amoy" or "localhost"

# --- Deployment (Contracts) ---
DEPLOYER_PRIVATE_KEY="0x_your_private_key_here"
POLYGONSCAN_API_KEY="your_polygonscan_api_key"

# --- Storage (IPFS) ---
PINATA_JWT="your_pinata_jwt_here"

# --- Security (Web Dashboard) ---
# Used for the client-to-API-proxy handshake
NEXT_PUBLIC_INTERNAL_API_KEY="trustify_production_harden_2024_secret_key"
TRUSTIFY_INTERNAL_SECRET="trustify_production_harden_2024_secret_key"
